<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Favorite Colors</h1>
    <a href="/colors/new">Make a new color</a>
    <ul>
        <% for (let c of colors) { %>
            <li><a href="/colors/<%=c._id%>"><%=c.name%></a></li>
        <% } %>
    </ul>
</body>
</html>