<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Color</title>
</head>
<body>
    <h1>Make a cool color</h1>
    <form action="/colors" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="hex">HEX Code</label>
            <input type="color" name="hex" id="hex" value="">
        </div>
        <button>Add Color</button>
    </form>
</body>
</html>